@model StartWebSiteEnglish.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

                @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="register-form">
                        <span class="heading">Авторизация</span>
                        <p style="font-size:0.9em;">@Html.ValidationSummary(true)</p>
                        <div class="form-group">
                            <input type="text" class="form-control" name="UserName" placeholder="Логин">
                            <i class="fa fa-user"></i>
                            <span class="error-right"> @Html.ValidationMessageFor(model => Model.UserName) </span>
                        </div>
                        <div class="form-group help">

                            <input type="password" class="form-control" name="Password" placeholder="Пароль">
                            <i class="fa fa-lock"></i>
                            <span class="error-right"> @Html.ValidationMessageFor(model => Model.Password) </span>
                            <p><a href="#" class="forget-password" style="float: right;">Забыли пароль?</a></p>
                        </div>
                        <div class="form-group" style="display: inline-block;">
                            <input type="checkbox" class="checkbox" id="checkbox" />
                            <label class="check" for="checkbox">Запомнить меня</label>
                            <button type="submit" class="btn btn-default">Войти</button>
                        </div>
                    </div>
                }

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
