@using StartWebSiteEnglish.Models
@using StartWebSiteEnglish.HtmlHelpers
@model  IEnumerable<CategoryWord>

@{
    ViewBag.Title = "AllDictionary";
    Layout = "~/Views/Shared/_Main.cshtml";
}

@section Links{
    <link href="~/Content/Main/materialssyle.css" rel="stylesheet" />
    <link href="~/Content/Main/introduce.css" rel="stylesheet" />
    @*<link href="~/Content/Main/style.css" rel="stylesheet" />*@
}

@section Body{


    <h2>Наборы слов</h2>
    <hr />
    <div style="width: 85%;">

        @foreach (var x in Model)
            {
                <div class="item col-xs-6 col-lg-3">
                    <div class="thumbnail">
                        @if (x.PictureUrl == "" || x.PictureUrl==null)
                        {
                             <img class="group list-group-image"  alt="1" src = "~/fonts/none-image.gif" /> 
                        }
                        else
                        {
                            <img class="group list-group-image" alt="1" src="@x.PictureUrl" />
                        }
                        <div class="caption">
                            <p class="group inner list-group-item-text">
                                @x.CategoryName
                            </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="lead">Слов: </p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    @*<a class="btn btn-success" href="/Main/ChooseWordForTraing/@x.ID">Посмотреть</a>*@
                                    <a class="btn btn-success" href="/Main/WordTranslate/@x.ID">Посмотреть</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        <div>

        @*<div class="item col-xs-12 col-md-4 ">
            <div class="thumbnail">
                <img class="group list-group-image" alt="1" src="@Model.Where(s=>s.Id==2).First().PictureUrl" />
                <div class="caption">
                    <p class="group inner list-group-item-text">
                        Топ 50 слов
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">50 слов</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="/Main/ChooseWordForTraing/1">Изучить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item col-xs-12 col-md-4 ">
            <div class="thumbnail">
                <img class="group list-group-image" src="@Model.Where(s=>s.Id==10).First().PictureUrl" alt="2" />
                <div class="caption">
                    <p class="group inner list-group-item-text">
                        Спорт
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                25 слов
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="/Main/ChooseWordForTraing/2">Изучить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item col-xs-12 col-md-4 ">
            <div class="thumbnail">
                <img class="group list-group-image" src="@Model.Where(s=>s.Id==5).First().PictureUrl" alt="3" />
                <div class="caption">
                    <p class="group inner list-group-item-text">
                        Неправильные глаголы
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                20 слов
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="#">Изучить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="@Model.Where(s=>s.Id==4).First().PictureUrl" alt="4" />
                <div class="caption">
                    <p class="group inner list-group-item-text">
                        Напитки
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                32 слов
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="/Main/ChooseWordForTraing/3">Изучить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="@Model.Where(s=>s.Id==3).First().PictureUrl" alt="5" />
                <div class="caption">
                    <p class="group inner list-group-item-text">
                        Семья
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                10  слов
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="#">Изучить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="@Model.Where(s=>s.Id==15).First().PictureUrl" alt="5" />
                <div class="caption">
                    <p class="group inner list-group-item-text">
                        Семья
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                10  слов
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="#">Изучить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="@Model.Where(s=>s.Id==14).First().PictureUrl" alt="5" />
                <div class="caption">
                    <p class="group inner list-group-item-text">
                        Семья
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                10  слов
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="#">Изучить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="@Model.Where(s=>s.Id==13).First().PictureUrl" alt="5" />
                <div class="caption">
                    <p class="group inner list-group-item-text">
                        Семья
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                10  слов
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="#">Изучить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="@Model.Where(s=>s.Id==12).First().PictureUrl" alt="5" />
                <div class="caption">
                    <p class="group inner list-group-item-text">
                        Семья
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                10  слов
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="#">Изучить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="@Model.Where(s=>s.Id==9).First().PictureUrl" alt="5" />
                <div class="caption">
                    <p class="group inner list-group-item-text">
                        Семья
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                10  слов
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="#">Изучить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="@Model.Where(s=>s.Id==6).First().PictureUrl" alt="5" />
                <div class="caption">
                    <p class="group inner list-group-item-text">
                        Семья
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                10  слов
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="#">Изучить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="@Model.Where(s=>s.Id==11).First().PictureUrl" alt="5" />
                <div class="caption">
                    <p class="group inner list-group-item-text">
                        Семья
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                10  слов
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="#">Изучить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.service').hover(function () {
                var $this = $(this);
                if ($this.hasClass("open")) {
                    $this.find('.service-icon').animate({ left: "0" });
                    $this.find('.service-description').animate({ left: "100%" });
                    $this.removeClass("open");
                }
                else {
                    $this.find('.service-icon').animate({ left: "-100%" });
                    $this.find('.service-description').animate({ left: "0" });
                    $this.addClass("open");
                }
            });
        });


        //$(document).ready(function () {
        //    $('.item.col-xs-12.col-md-4').click(function (event) {
        //        event.preventDefault();
        //        $('.item').removeClass('col-md-4');
        //        $('.item').addClass('col-md-6');
        //    });

    </script>



    @*<div class="container">
            <div class="well well-sm">
                <strong>Вид: </strong>
                <div class="btn-group">
                    <a href="#" id="list" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-th-list"></span>Список
                    </a>
                    <a href="#" id="grid" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-th"></span>Сетка
                    </a>
                </div>
            </div>
            <div id="products" class="row list-group">
                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail">
                        <img class="group list-group-image" src="@Model.Materials.Where(s=>s.Id==1).Single().PictureUrl" alt="1" />
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading">50 слов</h4>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="#">Начать учить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail">
                        <img class="group list-group-image" src="@Model.Materials.Where(s=>s.Id==13).Single().PictureUrl" alt="2" />
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading">Неправильные глаголы</h4>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="#">Начать учить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail">
                        <img class="group list-group-image" src="@Model.Materials.Where(s=>s.Id==18).Single().PictureUrl" alt="3" />
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading">Топ 50 прилагательных</h4>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="#">Начать учить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail">
                        <img class="group list-group-image" src="@Model.Materials.Where(s=>s.Id==3).Single().PictureUrl" alt="4" />
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading">Топ 50 глаголов</h4>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="#">Начать учить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail">
                        <img class="group list-group-image" src="@Model.Materials.Where(s=>s.Id==10).Single().PictureUrl" alt="5" />
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading">Спорт</h4>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="#">Начать учить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail">
                        <img class="group list-group-image" src="@Model.Materials.Where(s=>s.Id==5).Single().PictureUrl" alt="6" />
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading">Напитки</h4>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="#">Начать учить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <script>
            $(document).ready(function () {
                $('#list').click(function (event) {
                    event.preventDefault();
                    $('#products .item').addClass('list-group-item');
                });
                $('#grid').click(function (event) {
                    event.preventDefault();
                    $('#products .item').removeClass('list-group-item');
                    $('#products .item').addClass('grid-group-item');
                });
            });
        </script>*@




    <div>
        @*<div class="container">
                <div class="row">

                    <div class="col-md-4 col-sm-6">
                        <div class="serviceBox">
                            <div class="service-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="service-content">
                                <h3><a href="#">Web Development</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac lacus cursus, blandit dolor quis, blandit velit. Curabitur aliquet ante vel pulvinar finibus. Pellentesque.</p>
                            </div>
                            <div class="read">
                                <a href="#" class="btn btn-default">Read more</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="serviceBox">
                            <div class="service-icon">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <div class="service-content">
                                <h3><a href="#">Brand Building</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac lacus cursus, blandit dolor quis, blandit velit. Curabitur aliquet ante vel pulvinar finibus. Pellentesque.</p>
                            </div>
                            <div class="read">
                                <a href="#" class="btn btn-default">Read more</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="serviceBox">
                            <div class="service-icon">
                                <i class="fa fa-user-md"></i>
                            </div>
                            <div class="service-content">
                                <h3><a href="#">Responsive Design</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac lacus cursus, blandit dolor quis, blandit velit. Curabitur aliquet ante vel pulvinar finibus. Pellentesque.</p>
                            </div>
                            <div class="read">
                                <a href="#" class="btn btn-default">Read more</a>
                            </div>
                        </div>
                    </div>

                </div> ./row
            </div>*@




        @*<div class="container">
                <div class="row">

                    <div class="col-md-3 col-sm-6">
                        <div class="serviceBox">
                            <div class="service-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="title">Brand</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non risus a sem hendrerit.
                                </p>
                            </div>
                            <a href="#" class="read">Read More</a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="serviceBox">
                            <div class="service-icon">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="title">Web Design</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non risus a sem hendrerit.
                                </p>
                            </div>
                            <a href="#" class="read">Read More</a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="serviceBox">
                            <div class="service-icon">
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="title">Store</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non risus a sem hendrerit.
                                </p>
                            </div>
                            <a href="#" class="read">Read More</a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="serviceBox">
                            <div class="service-icon">
                                <i class="fa fa-mobile"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="title">Thoughts</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non risus a sem hendrerit.
                                </p>
                            </div>
                            <a href="#" class="read">Read More</a>
                        </div>
                    </div>

                </div><!-- ./row -->
            </div><!-- ./container -->*@

    </div>
}



